label {
    width: 70%;
    text-align: center;
    font-size: 40px;
}

body {
    background-color: antiquewhite;
}

.container {
    padding-top: 30px;
}

button {
    padding-top: 20px;
    color: red;
    font-size: 40px;
}

div {
    padding-top: 20px;
}

input {
    padding-top: 20px;
}

#task_list {
    align-content: center;
    padding-left: 150px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    padding: 10px;
}

.btn-large {
    padding: 10px;
}

.btn-panel {
    width: 44%;
}

.control-panel {
    padding-left: 100px;
}

.subtask {
    padding-left: 50px;
}